.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-image {
  height: 320px;
  width: 420px;
  margin-top: 10px;
}

.failure-heading {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: bold;
  color: #1e293b;
  margin-bottom: 0px;
}

.failure-para {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: normal;
  color: #1e293b;
}

.retry-button {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  background-color: #4656a1;
  padding: 10px 30px;
  outline: none;
  cursor: pointer;
}

.course-container {
  display: flex;
  flex-direction: column;
  padding: 15px 80px;
}

.course-heading {
  font-family: 'Roboto';
  font-size: 35px;
  color: #1e293b;
}

.course-list {
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
